<div class="card">
  <div class="card-content">
    <div class="content has-text-left">{{ response|nl2br }}</div>
    <input id="copy-text" value="{{ response }}" type="text" hidden />
  </div>
  <div class="card-footer">
    <button
      id="copy-button"
      type="button"
      class="card-footer-item button is-info is-light"
    >
      <span class="icon is-small"
        ><span class="material-icons">content_copy</span></span
      >
      <span>Copy</span>
    </button>
  </div>
  <script defer>
    document.querySelectorAll("#response").forEach((copyTextContainer) => {
      const textField = copyTextContainer.querySelector("#copy-text");
      const copyButton = copyTextContainer.querySelector("#copy-button");

      copyButton.addEventListener("click", () => {
        const text = textField.value;
        navigator.clipboard.writeText(text);

        copyButton.innerHTML = "Copied!";
      });
    });
  </script>
</div>
